body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #E6E6FA; /* Color morado pálido de fondo */
    position: relative; /* Posición relativa para que los elementos absolutos sean relativos a este */
}

.logo-container {
    position: absolute; /* Fija el logo */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegúrate de que el logo esté por encima de la navegación */
    background-color: #ffffff; /* Fondo oscuro para el contenedor del logo */
    padding: 10px; /* Añade espaciado alrededor del logo */
}

.logo-container img {
    width: 80px; /* Ajusta el ancho del logo */
    height: auto; /* El alto se ajusta automáticamente */
    display: block;
}

nav {
    background-color: #333; /* Fondo oscuro para la navegación */
    overflow: hidden;
    position: absolute; /* Fija la navegación en la parte superior */
    width: 100%;
    top: 120px; /* Ajusta la distancia desde la parte superior */
    left: 0;
    z-index: 999; /* Asegúrate de que la navegación esté por debajo del logo */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 0px 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: ruby; /* Utiliza flexbox para alinear los elementos horizontalmente */
}

.navbar li {
    margin: 0 10px; /* Añade margen entre los elementos de la lista */
}

.navbar li a {
    text-decoration: none;
    color: #ffffff; /* Color blanco para el texto */
    padding: 10px 20px;
    display: inline-block;
}

.navbar li a:hover {
    background-color: #555; /* Fondo más oscuro al pasar el ratón */
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none; /* Oculta la barra de navegación por defecto en pantallas pequeñas */
        flex-direction: column; /* Organiza los elementos de la barra de navegación en una columna */
    }
    .navbar.active {
        display: flex; /* Muestra la barra de navegación cuando está activa */
    }
    .navbar li {
        width: 100%; /* Asegúrate de que los elementos de la barra de navegación ocupen todo el ancho */
        text-align: center; /* Centra el texto en los enlaces */
        margin-bottom: 10px; /* Añade margen inferior entre los elementos */
    }
}


/* Estilos para el formulario y la tabla */

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #dddddd04;
    border-radius: 8px;
    background-color: #fffefe07;
    margin-top: 50px;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="file"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #04AA6D;
    color: rgb(12, 9, 9);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #dddddd77;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f242;
    color: #080505e1;
}

table tr:nth-child(even) {
    background-color: #f2f2f29d;
}

table tr:hover {
    background-color: #dddddd69;
}

/* Estilos para la verificación de documentación */
h2 {
    margin-top: 30px;
    text-align: center; /* Añadido para centrar el h2 */
}

.verificar-form {
    background-color: #f9f9f950;
    padding: 20px;
    border: 1px solid #dddddd59;
    border-radius: 8px;
    margin-top: 20px;
}

.verificar-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.verificar-form input[type="text"],
.verificar-form input[type="file"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc6e;
    border-radius: 4px;
    font-size: 16px;
}

.verificar-form input[type="submit"] {
    background-color: #04AA6D;
    color: rgba(255, 255, 255, 0.349);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.verificar-form input[type="submit"]:hover {
    background-color: #45a049;
}
/* Estilos para el login */


.login-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #dddddd1c;
    border-radius: 8px;
    background-color: #f9f9f925;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(216, 214, 214, 0.322);
    position: relative;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-size: auto 100%; /* Ajusta la altura de la imagen y deja el ancho automático */
    background-position: top center; /* Centra la imagen solo verticalmente */
}
.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-header h1 {
    font-size: 2.5em;
    color: #333;
}

.login-form {
    text-align: center;
}

.login-form form {
    width: 50%;
    margin: auto;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc57;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    background-color: #04AA6D;
    color: rgba(255, 255, 255, 0.336);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.login-form button:hover {
    background-color: #45a049;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f241;
    border: 1px solid #dddddd4b;
    border-radius: 4px;
    color: #333;
}

/* Estilos para el contenedor del formulario de admin agregar, eliminar, cambiar password */
.change-password-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #dddddd46;
    border-radius: 8px;
    background-color: #f9f9f93a;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-password-container h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.change-password-container form {
    width: 70%;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select,
.form-group input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc48;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    background-color: #04AA6D;
    color: rgba(255, 255, 255, 0.192);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.form-group button:hover {
    background-color: #45a049;
}

/* Estilos para los mensajes flash */
.flashes {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.flashes li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f23b;
    border: 1px solid #dddddd50;
    border-radius: 4px;
    color: #333;
}

/* Estilos para el select */
.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc79;
    border-radius: 4px;
    background-color: #ffffff3a;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-wrapper select:focus {
    outline: none;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .change-password-container form {
        width: 100%;
    }
}
/* Estilos para el contenedor del formulario */
.change-password-container {
    width: 80%;
    margin: auto;
    padding: 2px;
    border: 1px solid #dddddd49;
    border-radius: 8px;
    background-color: #f9f9f948;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-password-container h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.change-password-container form {
    width: 70%;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc34;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    background-color: #04AA6D;
    color: rgba(14, 2, 2, 0.988);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #45a049;
}

/* Estilos para los mensajes flash */
.flashes {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.flashes li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f248;
    border: 1px solid #dddddd38;
    border-radius: 4px;
    color: #333;
}

/* Estilos para las tablas cenizas y filtrado pagos
/* Estilos para el contenedor del formulario */
form {
    width: 27%;
    margin: auto;
    padding: 60px;
    border: 1px solid #dddddd51;
    border-radius: 8px;
    background-color: #f9f9f905;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc5b;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #04AA6D;
    color: rgba(3, 1, 1, 0.84);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dddddd3f;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f234;
}

tr:hover {
    background-color: #f5f5f53a;
}

/* Estilos para las vistas de listar clientes, pagos y documentación */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f046;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 85px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #cccccc3d;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f25b;
}

form {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: rgba(18, 5, 5, 0.822);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
